/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
.*.swp
resources/public/music/*.ogg
resources/tracker-files/*.ogg
resources/tracker-files/*.bak
resources/public/js/app.js
resources/public/js/out.js.map
resources/public/js/out/
gh-pages-build
