/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
.*.swp
resources/tracker-files/*.ogg
resources/tracker-files/*.bak
resources/tracker-files/*.AutoSave*
resources/public/sfx/*.ogg
